@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movie Database App</h2>
<h3>Created by Robin Andblom - 2021</h3>
<hr />
<p>
    This project was the final project of my course in fullstack web development at Lexicon. 
    The projetc uses ASP.NET MVC, Entity Framework, AJAX JS code, HTML and Razor Pages. Enjoy!
</p>
